html,
body {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body {
  font-family: Roboto;
  font-size: 16px;
  color: #565a5c;
  height: 100vh;
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
/* RHEOSTAT RANGE
// ------------------------- */
.rheostat-container {
  display: flex;
  align-items: center;
}
.rheostat {
  height: 24px;
  position: relative;
  overflow: visible;
}

.rheostat-background {
  background: #dce0e0;
  height: 2px;
  position: relative;
  top: 14px;
  width: 100%;
}

.rheostat-values {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.6);
}

.rheostat--disabled .rheostat-progress {
  background-color: #edefed;
}

.rheostat--disabled .rheostat-handle {
  cursor: default;
}

.rheostat-progress {
  background-color: #ff585b;
  height: 4px;
  position: absolute;
  top: 13px;
}

.rheostat-handle {
  border: 1px solid #ff585b;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 24px;
  margin-left: -12px;
  position: absolute;
  z-index: 2;
  width: 24px;
  font-size: 0;
}
